<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="16808IanBurke.GoodJoke" Publisher="CN=4645A022-23DA-475A-A17B-A6E318079FEB" Version="1.1.5.0" />
  <mp:PhoneIdentity PhoneProductId="da1a7179-440a-4799-a23d-896ee4a83b9a" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Good Joke</DisplayName>
    <PublisherDisplayName>Ian Burke</PublisherDisplayName>
    <Logo>logo.jpg</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="App5.App">
      <uap:VisualElements DisplayName="Good Joke" Square150x150Logo="logo.jpg" Square44x44Logo="logo.jpg" Description="App5" BackgroundColor="transparent">
        <uap:LockScreen Notification="badge" BadgeLogo="logo.jpg" />
        <uap:DefaultTile Wide310x150Logo="logo.jpg" ShortName="logo.jpg" Square310x310Logo="logo.jpg" Square71x71Logo="logo.jpg">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="logo.jpg" BackgroundColor="blue" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>